#!/bin/sh -e
# Start/stop JBoss
#
### BEGIN INIT INFO
# Provides:          jira
# Required-Start:    $remote_fs $syslog $time
# Required-Stop:     $remote_fs $syslog $time
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: JIRA Issue tracking
# Description:       jira is a tomcat based issue tracking system
### END INIT INFO


# Define some variables
# Name of app ( JIRA, Confluence, etc )
APP=jira
# Name of the user to run as
USER={{ atlassian_user_name }}
# Location of application's bin directory
BASE=/home/{{ atlassian_user_name }}/{{ jira_directory }}
# Location of Java JDK
export JAVA_HOME={{ java_home }}


case "$1" in
  # Start command
  start)
    echo "Starting $APP"
    /bin/su -s /bin/bash -c "$BASE/bin/startup.sh &> /dev/null" $USER
    ;;
  # Stop command
  stop)
    echo "Stopping $APP"
    /bin/su -s /bin/bash -c "$BASE/bin/shutdown.sh &> /dev/null" $USER
    echo "$APP stopped successfully"
    ;;
   # Restart command
   restart)
        $0 stop
        sleep 5
        $0 start
        ;;
  *)
    echo "Usage: /etc/init.d/$APP {start|restart|stop}"
    exit 1
    ;;
esac

exit 0